<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
  </head>
  <body>
    <h1>Bienvenue sur ma page d'accueil</h1>
    <h2>Pour créer un utilisateur c'est par <%= link_to "ICI", new_user_path %></p>
</h2>
  </body>
</html>
