<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<center>
  <h1>Attention !!</h1>

  <p>Ce nom d'utilisateur est déjà pris, prenez-en un autre !</p>
  <p>Créez-en un nouveau, <%= link_to "ICI" , new_user_path %> !</p>
  <iframe src="https://giphy.com/embed/NQL7Wuo2JSQSY" width="283" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/fail-fall-jump-NQL7Wuo2JSQSY">via GIPHY</a></p>
</center>
  </body>
</html>
