<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nouvel utilisateur</title>
  </head>
  <body>
    <h1>Bienvenue dans la création d'utilisateurs</h1>
    <p>Fais péter le formulaire biche!!!</p>
    <form  action="new_user.html" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="username" >
      <input type="text" name="bio" >
      <input type="submit" value="Valider">
    </form>
  </body>
</html>
