<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    <h1>BWAAAHHHHHHHH!!!!!!! <%= @user_name_show %></h1>
    <h3><%= @user_bio_show%></h3>
    <h4>Try something else <%= link_to "THERE", new_user_path %></h4>
  </body>
</html>
